@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?366vj0");
  src: url("../fonts/icomoon.eot?366vj0#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?366vj0") format("truetype"), url("../fonts/icomoon.woff?366vj0") format("woff"), url("../fonts/icomoon.svg?366vj0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud_done:before {
  content: '\e918';
}

.icon-directions_car:before {
  content: '\e91b';
}

.icon-zoom_in:before {
  content: '\e91c';
}

.icon-link:before {
  content: '\e91d';
}

.icon-insert_link:before {
  content: '\e91d';
}

.icon-access_time:before {
  content: '\e917';
}

.icon-flight_takeoff:before {
  content: '\e90f';
}

.icon-brush:before {
  content: '\e910';
}

.icon-settings:before {
  content: '\e911';
}

.icon-crop:before {
  content: '\e912';
}

.icon-filter_vintage:before {
  content: '\e900';
}

.icon-brightness_low:before {
  content: '\e904';
}

.icon-brightness_5:before {
  content: '\e904';
}

.icon-devices:before {
  content: '\e905';
}

.icon-phonelink:before {
  content: '\e905';
}

.icon-coffee:before {
  content: '\e91e';
}

.icon-dribbble:before {
  content: '\e91f';
}

.icon-behance:before {
  content: '\e920';
}

.icon-play:before {
  content: '\e921';
}

.icon-heart:before {
  content: '\e913';
}

.icon-pencil:before {
  content: '\e914';
}

.icon-camera:before {
  content: '\e915';
}

.icon-apple:before {
  content: '\e916';
}

.icon-globe:before {
  content: '\e901';
}

.icon-envelope:before {
  content: '\e902';
}

.icon-phone:before {
  content: '\e906';
}

.icon-search:before {
  content: '\e907';
}

.icon-vimeo:before {
  content: '\e908';
}

.icon-google-plus:before {
  content: '\e909';
}

.icon-pinterest-p:before {
  content: '\e90a';
}

.icon-bars:before {
  content: '\e90b';
}

.icon-close:before {
  content: '\e90c';
}

.icon-remove:before {
  content: '\e90c';
}

.icon-times:before {
  content: '\e90c';
}

.icon-twitter:before {
  content: '\e90d';
}

.icon-facebook:before {
  content: '\e90e';
}

.icon-volume-mute:before {
  content: '\ea29';
}

.icon-arrow-right2:before {
  content: '\e903';
}

.icon-share2:before {
  content: '\ea82';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.scroll-lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container--smaller {
  max-width: 1024px;
  padding: 3rem 1rem;
}

@media (min-width: 64em) {
  .container--smaller {
    padding: 5rem 1rem;
  }
}

.btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 6px;
  padding: 1.2em 2.2em;
  background-color: #2095f2;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #f95d5a;
}

.btn--icon span {
  font-size: 1.3em;
  margin-left: 0.6em;
  vertical-align: -0.15em;
}

.section-header {
  text-align: center;
}

.section-header__title {
  font-size: 1.5em;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 0.7em;
}

.section-header__desc {
  font-size: 0.85em;
  color: #727272;
  margin-bottom: 1.4em;
}

.section-header::after {
  display: block;
  content: '';
  width: 2em;
  height: 2.5px;
  background-color: #03a9f4;
  margin: 0 auto 2.6em;
}

.section-header--secondary .section-header__title {
  color: #ffffff;
}

.section-header--secondary .section-header__desc {
  color: #ffffff;
}

.section-header--secondary::after {
  background-color: #ffffff;
}

.minibar {
  background-color: #1976d2;
}

.minibar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 1rem;
}

.minibar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #dddddd;
  font-size: 0.8rem;
}

@media (min-width: 40em) {
  .minibar__contacts {
    font-size: 0.9rem;
  }
}

.minibar__contact {
  margin-right: 1rem;
}

.minibar__contact-icon {
  margin-right: 8px;
}

.minibar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.minibar__round-icon {
  margin: 2px;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  display: block;
  font-size: 0.9rem;
  width: 1.44rem;
  line-height: 1.44rem;
  background-color: #ffffff;
  color: #1976d2;
  text-align: center;
  border-radius: 50%;
}

@media (min-width: 64em) {
  .minibar__round-icon:hover {
    background-color: #f95d5a;
    color: #ffffff;
  }
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: #ffffff;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo-img {
  width: 9rem;
  margin: 0.5rem 0;
}

@media (min-width: 64em) {
  .menu__logo-img {
    max-width: 10rem;
    margin: 1rem 0;
  }
}

.menu__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f95d5a;
  font-size: 2.3rem;
  background-color: transparent;
  border: none;
  z-index: 999;
}

.menu__burger-close {
  display: none;
  color: #ffffff;
}

.menu__burger.active .menu__burger-open {
  display: none;
}

.menu__burger.active .menu__burger-close {
  display: block;
}

@media (min-width: 64em) {
  .menu__burger {
    display: none;
  }
}

.menu__list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: circle(0% at 90% 4em);
          clip-path: circle(0% at 90% 4em);
  background-color: #f95d5a;
  -webkit-transition: background-color 0.5s, -webkit-clip-path 0.5s;
  transition: background-color 0.5s, -webkit-clip-path 0.5s;
  transition: background-color 0.5s, clip-path 0.5s;
  transition: background-color 0.5s, clip-path 0.5s, -webkit-clip-path 0.5s;
}

.menu__list.active {
  -webkit-clip-path: circle(80%);
          clip-path: circle(80%);
}

@media (min-width: 64em) {
  .menu__list {
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transition: none;
    transition: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    background-color: transparent;
  }
}

.menu__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 28.75em) and (orientation: landscape) {
  .menu__item {
    -ms-flex-preferred-size: 34%;
        flex-basis: 34%;
  }
}

.menu__item--search {
  display: none;
}

@media (min-width: 64em) {
  .menu__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__item--search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.menu__search-btn {
  border: none;
  background-color: transparent;
}

.menu__search-icon {
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  width: 1.8rem;
  line-height: 1.8rem;
  background-color: #f95d5a;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}

.menu__link {
  position: relative;
  display: block;
  font-size: 1.2rem;
  line-height: 250%;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media (min-width: 64em) {
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8rem;
    margin-right: 1.5rem;
    color: #333333;
  }
  .menu__link::before {
    display: block;
    content: '';
    position: absolute;
    width: 120%;
    height: 4px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #f95d5a;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .menu__link:hover {
    color: #f95d5a;
  }
  .menu__link:hover::before {
    opacity: 1;
  }
}

.header {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../images/header_mobile.jpg) no-repeat 50% 30%/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7)), url(../images/header_mobile.jpg) no-repeat 50% 30%/cover;
  padding: 30% 0;
  text-align: center;
}

@media (min-width: 28.75em) and (orientation: landscape) {
  .header {
    padding: 13% 0 15%;
  }
}

@media (min-width: 40em) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../images/header_mobile_land.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../images/header_mobile_land.jpg);
  }
}

@media (min-width: 64em) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../images/header.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../images/header.jpg);
    font-size: 1.3rem;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.header__title--deco {
  color: #03a9f4;
}

.header__title--no-break {
  display: block;
}

@media (min-width: 40em) {
  .header__title--no-break {
    display: inline;
  }
}

.header__text {
  font-size: 0.9em;
  margin: 2rem 0 3rem;
  color: #ffffff;
}

@media (min-width: 28.75em) and (orientation: landscape) {
  .header__text {
    margin: 1.5rem 0 2.5rem;
  }
}

.header__mouse {
  display: none;
}

@media (min-width: 64em) {
  .header__mouse {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 5%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 1em;
    height: 1.9em;
    border: 1px solid #ffffff;
    border-radius: 50px;
  }
  .header__mouse-scroll {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    width: 0.1em;
    height: 0.4em;
    background-color: #ffffff;
    -webkit-animation: mouse-scroll 2s infinite;
            animation: mouse-scroll 2s infinite;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 0;
    top: 55%;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 0;
    top: 55%;
  }
}

@media (min-width: 64em) {
  .services {
    font-size: 1.2rem;
  }
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 64em) {
  .services__list::before, .services__list::after {
    display: block;
    content: '';
    height: 8em;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .services__list::before {
    background-color: #1976d2;
  }
  .services__list::after {
    background-color: #03a9f4;
  }
}

.services__item {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  height: 6.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0.25em;
  color: #ffffff;
  background-color: #1976d2;
}

.services__item:nth-child(even) {
  background-color: #03a9f4;
}

@media (min-width: 64em) {
  .services__item {
    -ms-flex-preferred-size: calc(100% / 6);
        flex-basis: calc(100% / 6);
    height: 8em;
    max-width: 10em;
    padding: 1em 1.5em;
  }
}

.services__icon {
  display: block;
  font-size: 1.7em;
  padding-bottom: 0.25em;
}

@media (min-width: 64em) {
  .services__icon {
    font-size: 2em;
  }
}

.services__name {
  display: block;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0.8em 1%;
}

.features__item--desktop {
  display: none;
}

@media (min-width: 40em) {
  .features__item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (min-width: 64em) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 3 - 2%);
        flex-basis: calc(100% / 3 - 2%);
  }
  .features__item--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.features__icon-wrapper {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.features__text-wrapper {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.features__icon {
  margin: 0 auto;
  display: block;
  font-size: 1em;
  width: 2.2em;
  line-height: 2.2em;
  background-color: #f95d5a;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}

.features__name {
  display: block;
  font-size: 0.95em;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0.8em;
}

.features__desc {
  font-size: 0.85em;
  color: #727272;
}

.services__video-wrapper {
  min-height: 30vh;
  overflow: hidden;
  position: relative;
}

@media (min-width: 28.75em) and (orientation: landscape) {
  .services__video-wrapper {
    height: 50vh;
  }
}

.services__video {
  display: block;
  max-width: 110%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 28.75em) and (orientation: landscape) {
  .services__video {
    max-width: 100%;
    top: -40%;
  }
}

@media (min-width: 80em) {
  .services__video {
    top: -50%;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .portfolio {
    font-size: 1.2rem;
  }
}

.portfolio__controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 28.75em) {
  .portfolio__controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__control {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  padding: 0.8em 1.8em;
  color: #333333;
  background-color: #ffffff;
  cursor: pointer;
}

.portfolio__control.active {
  color: #ffffff;
  background-color: #2095f2;
}

.portfolio__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95%;
      grid-template-columns: 95%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.2rem 0;
}

@media (min-width: 28.75em) {
  .portfolio__items {
    -ms-grid-columns: (40%)[2];
        grid-template-columns: repeat(2, 40%);
  }
}

@media (min-width: 48em) {
  .portfolio__items {
    -ms-grid-columns: (32%)[3];
        grid-template-columns: repeat(3, 32%);
  }
}

.portfolio__item {
  position: relative;
  border: 0.4rem solid #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.portfolio__item.hidden {
  display: none;
}

@media (min-width: 64em) {
  .portfolio__item:hover .portfolio__item-overlay {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.portfolio__img {
  display: block;
  max-width: 100%;
}

.portfolio__item-overlay {
  display: none;
}

@media (min-width: 64em) {
  .portfolio__item-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(3, 169, 244, 0.9);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}

.portfolio__item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__item-control {
  background-color: transparent;
  border: none;
  margin: 0.7rem 0.2rem;
  cursor: pointer;
}

.portfolio__item-icon {
  display: block;
  font-size: 1.1rem;
  width: 2.2rem;
  line-height: 2.2rem;
  background-color: #ffffff;
  color: #03a9f4;
  text-align: center;
  border-radius: 50%;
}

.portfolio__item-name {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.portfolio__item-desc {
  font-size: 0.8em;
  font-weight: 300;
}

.team {
  background-color: #1976d2;
}

@media (min-width: 64em) {
  .team {
    font-size: 1.2rem;
  }
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__members {
  width: 100%;
}

@media (min-width: 28.75em) and (orientation: landscape) {
  .team__members {
    font-size: 1.4rem;
  }
}

@media (min-width: 48em) {
  .team__members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team__member {
  color: #ffffff;
  background-color: #2095f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 5%;
  margin-bottom: 1rem;
}

@media (min-width: 48em) {
  .team__member {
    font-size: 1rem;
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 64em) {
  .team__member {
    font-size: 1.2rem;
  }
  .team__member:hover .team__member-info::before,
  .team__member:hover .team__member-socials::before {
    background-color: #ffffff;
  }
  .team__member:hover .team__member-img {
    border-color: #ffffff;
  }
}

.team__member-img {
  display: block;
  width: 25vw;
  border: 0.3em solid #03a9f4;
  border-radius: 50%;
  margin-right: .6em;
}

@media (min-width: 48em) {
  .team__member-img {
    width: 70%;
    margin-right: 0;
    margin: 1.5em 0 3em;
    border-width: .4em;
  }
}

.team__member-info {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 48em) {
  .team__member-info {
    padding: 1.5em .5em;
  }
  .team__member-info::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #03a9f4;
  }
}

.team__member-name {
  font-size: 1.1em;
  margin-bottom: .3em;
}

.team__member-job {
  font-size: .7em;
  font-weight: 300;
  margin-bottom: 1.5em;
}

.team__member-socials {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
  padding-top: 1em;
}

.team__member-socials::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: #03a9f4;
}

@media (min-width: 48em) {
  .team__member-socials {
    font-size: 1em;
  }
}

.team__member-link {
  color: #ffffff;
  -webkit-transition: color .2s;
  transition: color .2s;
  padding: 0 10px;
}

@media (min-width: 64em) {
  .team__member-link:hover {
    color: #f95d5a;
  }
}
/*# sourceMappingURL=main.css.map */