.menu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: map-get($colors, bg-secondary);

  &.scrolled {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-img {
    width: 9rem;
    margin: 0.5rem 0;

    @include mq(large) {
      max-width: 155px;
      margin: .8rem 0;
    }
  }

  &__burger-btn,
  &__close-btn {
    color: map-get($colors, secondary);
    font-size: 2.3rem;
    background-color: transparent;
    border: none;

    @include mq(large) {
      display: none;
    }
  }

  &__close-btn {
    color: map-get($colors, bg-secondary);
    font-size: 3rem;
  }

  &__burger-icon,
  &__close-icon {
    display: block;
  }

  &__list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    clip-path: circle(0% at 90% 4em);
    background-color: map-get($colors, secondary);
    transition: background-color 0.5s, clip-path 0.5s;
    z-index: 999;

    &.active {
      clip-path: circle(80%);
    }

    @include mq(large) {
      clip-path: none;
      transition: none;
      position: sticky;
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      align-self: stretch;
      background-color: transparent;
    }
  }

  &__item {
    flex-basis: 100%;

    @include mq('xsmall', 'orientation: landscape') {
      flex-basis: 34%;
    }

    &--close {
      position: absolute;
      top: 2.8em;
      right: 1.3em;
    }

    &--search {
      display: none;
    }

    @include mq(large) {
      flex-basis: auto;
      display: flex;

      &--search {
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }



  &__search {
    &-btn {
      border: none;
      background-color: transparent;
    }

    &-icon {
      cursor: pointer;
      @include icon-round(0.7rem,
        map-get($colors, secondary),
        map-get($colors, text-secondary),
        2);
    }
  }

  &__link {
    position: relative;
    display: block;
    font-size: 1.2rem;
    line-height: 250%;
    color: map-get($colors, text-secondary);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.2s;

    @include mq(large) {
      display: flex;
      align-items: center;
      font-size: 0.7rem;
      margin-right: 1.3rem;
      color: map-get($colors, heading);

      &::before {
        display: block;
        content: '';
        position: absolute;
        width: 120%;
        height: 4px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: map-get($colors, secondary);
        opacity: 0;
        transition: opacity 0.2s;
      }

      &:hover {
        color: map-get($colors, secondary);
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}