.scroll-lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;

  &--small {
    max-width: 1024px;
    padding: 3rem 1rem;

    @include mq(large) {
      padding: 5rem 1rem;
    }
  }

  &--bar {
    max-width: 1024px;
    padding: 2.5rem .5rem;
  }
}

.btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 6px;
  padding: 1.2em 2.2em;
  background-color: map-get($colors, primary-medium);
  color: map-get($colors, text-secondary);
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: map-get($colors, secondary);
  }

  &--icon span {
    font-size: 1.3em;
    margin-left: 0.6em;
    vertical-align: -0.15em;
  }
}

.section-header {
  text-align: center;

  &__title {
    font-size: 1.5em;
    font-weight: 500;
    color: map-get($colors, heading);
    text-transform: uppercase;
    margin-bottom: 0.7em;
  }

  &__desc {
    font-size: 0.85em;
    color: map-get($colors, text);
    margin-bottom: 1.4em;
  }

  &::after {
    display: block;
    content: '';
    width: 2em;
    height: 2.5px;
    background-color: map-get($colors, primary-light);
    margin: 0 auto 2.6em;
  }

  &--secondary {
    .section-header__title {
      color: map-get($colors, text-secondary);
    }

    .section-header__desc {
      color: map-get($colors, text-secondary);
    }

    &::after {
      background-color: map-get($colors, bg-secondary);
    }
  }
}